{% load static%}

* {
  color: #FCDEC0;
  font-family: 'Bitter', serif;
  background-image: url('../images/gift.jpg');
  background-color: #7D5A50;
}

header h1 {
  font-size: 120px;
}

header p {
  font-size: 24px;
}

a {
  text-decoration: none;
}

.main {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

main div {
  margin-top: 25px;
}


#login, #signup {
  margin: 5px 100px;
  padding: 20px;
  border: 5px solid #F3F1F5;
  height: 120px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width: 120px;
}
