* {
  background-color: #BFA2DB;
  color: #F3F1F5;
  font-family: 'Bitter', serif;
}

header h1 {
  font-size: 175px;
}

header p {
  font-size: 24px;
}

.input {
  margin: auto;
  width: 21%;
}

input {
  padding: 4px;
}

.main {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
  text-decoration: none;
  border: 0px;
  padding: 0px;
}

main, main div {
  margin-top: 15px;
}

#login, #signup {
  margin: 5px 100px;
  padding: 15px;
  border: 5px solid #F3F1F5;
  height: 90px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width: 90px;
}

.fa {
  background-color: #BFA2DB;
  color: #F3F1F5;
}

#login:hover, #signup:hover {
  background-color: #F3F1F5;
  color:#BFA2DB;
}