{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="{% static 'css/userLists.css' %}">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/admin/home/">Home</a>
        <a href="/admin/users/">Users</a>
        <a href="/admin/items/">Items</a>
        <a href="/admin/lists/">Lists</a>
        <a style="float:right" href="#logout">Logout</a>
    </div>

    <h1> Admin Home Page </h1>
    <p> Welcome to the admin home page! <br>
        Here you can update and delete (users, items, lists)</p>

</body>
</html>