{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Login</title>
<!--    <link href="user.css" rel="stylesheet" type="text/css" />-->
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,300;0,500;0,600;1,400&display=swap" rel="stylesheet">
    <!-- Font-Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="main">
      <header>
        <div class="container text-center p-5">
          <h1>My Registry</h1>
          <p>What's on your wishlist? Let people know what gifts you'd like. Save time. Add your items and ideas in one convenient location.</p>
        </div>
      </header>

      <main>
        <form action="/login" method="POST" > {% csrf_token %}
          <div class="input">
            <h4>Username</h4>
            <input type="text" name="username">
            <br><br>
            <h4>Password</h4>
            <input type="password" name="password">
          </div>
          <div class="container d-flex text-center justify-content-center">
            <div id="home">
              <a href="login"><i class="fa fa-angle-double-left fa-3x" aria-hidden="true"></i></a>
            </div>
            <div id="login">
              <button type="submit"><i class="fa fa-sign-in fa-3x" aria-hidden="true"></i></button>
            </div>
          </div>
        </form>
      </main>
    </div>

    <script>
      $(function(){
        $('#login').hover(function() {
          $('.fa-sign-in').css("backgroundColor", "#F3F1F5");
          $('.fa-sign-in').css("color", "#FCDEC0");
        }, function() {
          $('.fa-sign-in').css("backgroundColor", "#BFA2DB");
          $('.fa-sign-in').css("color", "#F3F1F5");
        })
      })

      $(function(){
        $('#home').hover(function() {
          $('.fa-angle-double-left').css("backgroundColor", "#F3F1F5");
          $('.fa-angle-double-left').css("color", "#FCDEC0");
        }, function() {
          $('.fa-angle-double-left').css("backgroundColor", "#BFA2DB");
          $('.fa-angle-double-left').css("color", "#F3F1F5");
        })
      })
    </script>
  </body>
</html>
