{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Admin</title>
    <link rel="stylesheet" href="{% static 'css/userLists.css' %}">
  </head>
  <body>
    <div class="main">
        <div class="topnav">
            <a href="/admin/home/">Home</a>
            <a class="active" href="/admin/users/">Users</a>
            <a href="/admin/items/">Items</a>
            <a href="/admin/lists/">Lists</a>
            <a style="float:right" href="/../../../../logoutendpoint/">Logout</a>
        </div>
        <header>
        <div class="container text-center p-5">
          <h1>Update User</h1>
        </div>
      </header>
      <main>
        <form method='POST' action=".">{% csrf_token %}
          <div class="input">
              <h4>Name</h4>
            <input type="text" name="name" value="{{user.name}}">
            <br><br>
            <h4>Username</h4>
            <input type="text" name="username" value="{{user.username}}">
            <br><br>
            <h4>Password</h4>
            <input type="password" name="password" value="{{user.password}}">
          </div>
        <p><input type='submit' value='Update'/> <a href="../../"> Back </a> </p>
        </form>
      </main>
    </div>

  </body>
</html>
